<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="test.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>

<div class="game-stuff">

    <div class="box"> BOX </div>

    <!-- <div id="player1ScoreBox" class="scoreBox">
        <h2>YOU <%= profile.name %></h2>
        <span id="player1Score" data-user = '<%= profile._id %>'>Score:0</span>
    </div> -->
    <div class="player-scores">
        <% users.forEach(function(guy) { %>
        <!-- <li><%= guy.name %> - <%= guy._id %></li> -->
        <li>
            <div class="scoreBox">
                <h2><%= guy.name %></h2>
                <span class="span-score" data-user = '<%= guy._id %>'>Score:0</span>
            </div>
        </li>
        <% }); %>
    </div>

    <!-- <div id="player2ScoreBox" class="scoreBox">
        <h2>THEM</h2>
        <span id="player2Score">Score:0</span>
    </div> -->

</div>


 <div class="start-info">
    <h2>Howdy!! What are we going to play till?</h2>
    <form class="score-limit-form">
        <input type="text" name="score-limit" class="score-limit-text" placeholder="eg 1000">
        <button type="submit" class="submit-score-limit">Submit</button>
    </form>
</div>


<!-- <div class="hi diff"></div> -->

<!-- <div class="container">
	
	<ul class="timeline">
	    <% for (var i = 0; i < users.length; i++) { %>
	    <li class="timeline-yellow">
	        <div class="timeline-time">
	            <span class="date" style="text-align:left">
	            <%= users[i] %>
	   
	        </div>
	    </li>
	    <% } %>
	</ul>

</div>

<ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form> -->



    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="index.js"></script>
    <script>
      
    </script>
</body>
</html>