<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="test.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>

<div class="game-stuff">

    <div class="box"> BOX </div>

    <div class="profile">
        <%= profile %>
    </div>

    <div class="player-scores">
        <% users.forEach(function(guy) { %>
        <!-- <li><%= guy.name %> - <%= guy._id %></li> -->
        <li>
            <div class="scoreBox">
                <h2><%= guy.name %></h2>

                <span class="span-score" data-user = '<%= guy._id %>'>Score: <%= guy.scoreAllTime %></span>
            </div>
        </li>
        <% }); %> 
    </div>
 
    <!-- <div id="player2ScoreBox" class="scoreBox">
        <h2>THEM</h2>
        <span id="player2Score">Score:0</span>
    </div> -->

</div>


 <div class="start-info">
    <h2>Howdy!! What are we going to play till?</h2>
    <form class="score-limit-form">
        <input type="text" name="score-limit" class="score-limit-text" placeholder="eg 1000">
        <button type="submit" class="submit-score-limit">Submit</button>
    </form>
</div>

<style type="text/css">
        img {
            width: 80%;
            max-width: 700px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        #Keyboard {
            margin: 3px!important;
        }
    </style>
    <div id="Content">
        <div id="Title">Sampler</div>
        <div id="Explanation">
            <a href="https://tonejs.github.io/docs/Sampler" target="_blank">Tone.Sampler</a> makes it easy to create an instrument from audio samples. Pass in an object which maps the note's pitch or midi value to the url, then you can trigger the attack and release of that note like other instruments. By automatically repitching the samples, it is possible to play pitches which were not explicitly included which can save loading time.
        </div>
        <div id="Keyboard"></div>
    </div>


<!-- <div class="hi diff"></div> -->

<!-- <div class="container">
	
	<ul class="timeline">
	    <% for (var i = 0; i < users.length; i++) { %>
	    <li class="timeline-yellow">
	        <div class="timeline-time">
	            <span class="date" style="text-align:left">
	            <%= users[i] %>
	   
	        </div>
	    </li>
	    <% } %>
	</ul>

</div>

<ul id="messages"></ul>
    <form action="">
      <input id="m" autocomplete="off" /><button>Send</button>
    </form> -->



    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tone/0.12.27/Tone.min.js"></script>
    <script src="./scripts/Keyboard.js"></script>
    <script src="./scripts/draggabilly.js"></script>
    <script src="./scripts/StartAudioContext.js"></script>
    <script src="./scripts/Interface.js"></script>
    <script src="index.js"></script>
    <script>
      
    </script>
</body>
</html>